﻿@model Domain.DiseasesSymptom

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>DiseasesSymptom</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Symptom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Symptom.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Disease)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Disease.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DiseasesSymptomId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
