﻿@model Domain.DiseasesSymptom

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>DiseasesSymptom</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DiseasesSymptomId" />
            <div class="form-group">
                <label asp-for="SymptomId" class="control-label"></label>
                <select asp-for="SymptomId" class="form-control" asp-items="ViewBag.SymptomId"></select>
                <span asp-validation-for="SymptomId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiseaseId" class="control-label"></label>
                <select asp-for="DiseaseId" class="form-control" asp-items="ViewBag.DiseaseId"></select>
                <span asp-validation-for="DiseaseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
