﻿@model IEnumerable<Domain.DiseasesSymptom>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Symptom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disease)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Symptom.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disease.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DiseasesSymptomId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DiseasesSymptomId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DiseasesSymptomId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
