﻿@model WebAppClient.ViewModels.InformationViewModel
@{
    ViewData["Title"] = "Index";
}

<h2>Information</h2>

<div>
    <strong>Top 3 diseases: </strong>
    <ul>
        @foreach (var dis in Model.TopDiseases)
        {
            <li>
                @Html.DisplayFor(x => dis.Name)
            </li>
        }
    </ul>
</div>

<div>
    <strong style="display: inline">Number of unique symptoms: </strong> @Html.DisplayFor(model => model.SymptomCount)
</div>
<br />

<div>
    <strong>Top 3 symptoms: </strong>
    <ul>
        @foreach (var sym in Model.TopSymptoms)
        {
            <li>
                @Html.DisplayFor(x => sym.Name)
            </li>
        }
    </ul>
</div>

