﻿@model WebAppClient.ViewModels.DiagnoseViewModel

@{
    ViewData["Title"] = "Diseases";
}

<h2>Diseases matching selected symptoms</h2>
@if (Model.DiseasesBySymptoms.Count == 0)
{
    <strong>No Diseases match these symptoms.</strong>

}
<ul>
    @foreach (var dis in Model.DiseasesBySymptoms)
    {
        <li>
            @Html.DisplayFor(x => dis.Name)
        </li>
    }
</ul>
<br />

<h4>Symptoms you selected: </h4>
<ul>
    @foreach (var sym in Model.AllSymptoms.Where(x => x.IsSelected == true))
    {
        <li>
            @Html.DisplayFor(x => sym.Name)
        </li>
    }
</ul>

<a asp-action="Index">Back</a>