﻿@using System.Linq
@model WebAppClient.ViewModels.DiagnoseViewModel
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div>
    <form asp-action="Diseases">
        <strong>All symptoms: </strong>
        @for (int i = 0; i < Model.AllSymptoms.Count(); i++)
        {
            <input type="hidden" asp-for="AllSymptoms[i].SymptomId" />
            <input type="hidden" asp-for="AllSymptoms[i].Name" />
            <div class="checkbox">
                <label>
                    <input asp-for="AllSymptoms[i].IsSelected" type="checkbox" />
                    @Html.DisplayFor(x => Model.AllSymptoms[i].Name)
                </label>
            </div>
        }
        <input type="submit" value="Search diseases" class="btn btn-default" />
    </form>
</div>
