﻿@{
    ViewData["Title"] = "Upload";
}

<h3>Insert file to use different database</h3>

<div>
    <form asp-action="Upload" method="post" enctype="multipart/form-data">
        <h4>Add file</h4>

        <div class="form-group">
            <input class="form-control" type="file" name="file" />
            @*<input asp-for="database" class="form-control" type="text" />*@
        </div>
        <input type="submit" value="Make new database" class="btn btn-default" />
    </form>
</div>
